$primary-color: #008753;
$secondary-color: #ffffff;
$secondary-color-transparent: rgba($secondary-color, 0.7);
$tertiary-color: #8f9391;
$quaternary-color: #000000;
$quaternary-color-transparent: rgba($quaternary-color, 0.75);

$highlight-color: #14d086;
$primary-color-light: rgb(7, 164, 104);
$primary-color-transparent: rgba($primary-color, 0.2);
$heading-font: Roboto Mono, monospace;
$text-font: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
  "Cantarell", "Open Sans", sans-serif;
$vs-code-font: Menlo, Consolas, monaco, monospace;
$text-size: 1.5rem;
$text-size-laptop-screen: 1.45rem;
$text-size-small-screen: 1.25rem;
$text-size-phone-screen: 1rem;
$sub-text-size: 1.25rem;
$sub-text-size-laptop-screen: 1.2rem;
$sub-text-size-small-screen: 1rem;
$heading-text-size: 3rem;
$heading-text-size-laptop-screen: 2.75rem;
$heading-text-size-small-screen: 2.5rem;
$heading-text-size-phone-screen: 1.7rem;
$sub-heading-text-size: 2rem;
$sub-heading-text-size-laptop-screen: 1.75rem;
$sub-heading-text-size-small-screen: 1.5rem;
$sub-heading-text-size-phone-screen: 1.3rem;

$footer-height: 100px;
$footer-icon-width: 50px;
$footer-icon-width-laptop-screen: 45px;
$footer-icon-width-small-screen: 45px;
$footer-icon-width-phone-screen: 40px;
$header-height: 125px;
$header-height-laptop-screen: 110px;
$header-height-small-screen: 100px;
$header-height-phone-screen: 90px;

$phone-screen-width: 415px;
$small-screen-width: 1366px;
$laptop-screen-width: 1600px;
