$primary-color: #008753;
// $primary-color: #008753c7;
$secondary-color: #ffffff;
$tertiary-color: #8f9391;
$quaternary-color: #000000;

$opaque-primary-color: rgba(0, 135, 83, 0.5);

$possible-grey-color: #9fa0a0;

$title-color: #4f3e3e;
$light-text-color: #ffffff;
$dark-text-color: #000000;
$text-font: Roboto, Roboto Mono, monospace;
$vs-code-font: Menlo, Consolas, monaco, monospace;

$phone-text-size: 1rem;
$text-size: 1.25rem;
$medium-text-size: 1.2rem;
$large-text-size: 2.5rem;
$title-top-offset: 2rem;

$phone-screen-width: 415px;
$tablet-screen-width: 768px;
$small-screen-width: 1200px;
