$primary-color: #008753;
$secondary-color: #ffffff;
$secondary-color-transparent: rgba($secondary-color, 0.85);
$tertiary-color: #8f9391;
$quaternary-color: #000000;
$quaternary-color-transparent: rgba($quaternary-color, 0.85);

$highlight-color: #14d086;
$primary-color-light: rgb(7, 164, 104);
$text-box-color: rgb(123, 206, 174);
$primary-color-transparent: rgba($primary-color, 0.2);
$heading-font: Roboto Mono, monospace;
// $text-font: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
//   "Cantarell", "Open Sans", sans-serif;
$text-font: "Helvetica Neue", "Helvetica", "sans-serif";
$vs-code-font: Menlo, Consolas, monaco, monospace;
$text-size: 1.3rem;
$text-size-laptop-screen: 1.2rem;
$text-size-small-screen: 1rem;
$text-size-phone-screen: 1.1rem;
$sub-text-size: 1.1rem;
$sub-text-size-laptop-screen: 1.1rem;
$sub-text-size-small-screen: 1rem;
$sub-text-size-phone-screen: 0.95rem;
$heading-text-size: 2.5rem;
$heading-text-size-laptop-screen: 2.25rem;
$heading-text-size-small-screen: 1.75rem;
$heading-text-size-phone-screen: 1.5rem;
$sub-heading-text-size: 1.85rem;
$sub-heading-text-size-laptop-screen: 1.5rem;
$sub-heading-text-size-small-screen: 1.2rem;
$sub-heading-text-size-phone-screen: 1.1rem;

$footer-height: 100px;
$footer-icon-width: 50px;
$footer-icon-width-laptop-screen: 45px;
$footer-icon-width-small-screen: 40px;
$footer-icon-width-phone-screen: 35px;
$header-height: 13vh;
$header-height-laptop-screen: 12vh;
$header-height-small-screen: 12vh;
$header-height-phone-screen: 10vh;

$phone-screen-width: 415px;
$small-screen-width: 1200px;
$laptop-screen-width: 1400px;
